DATABASE_URL=sqlite:///candyland.db

BREVO_API_KEY=
BREVO_SENDER_EMAIL=theofilo.mesquita@aluno.impacta.edu.br
BREVO_SENDER_NAME=CandyLand

TWILIO_ACCOUNT_SID=SEU_ACCOUNT_SID
TWILIO_AUTH_TOKEN=SEU_AUTH_TOKEN
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_WHATSAPP_CONTENT_SID=SEU_CONTENT_SID